.about {
  .about-left1 {
    .about-img {
      width: 100%;
      margin: auto;
      display: block;
    }
  }

  .about-left {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .about-name {
      font-weight: 400;
      margin: 10px 0;
      font-size: 36px;
      font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      color: #151515;
      line-height: 1.33;
    }

    .about-text {
      color: rgba(21, 21, 21, 0.7);
      font-size: 17px;
      line-height: 1.777;
    }

    .about-link {
      text-decoration: none;
      padding: 14px 55px;
      background-color: #286efc;
      color: #fff;
      border-radius: 6px;
      transition: 0.25s ease-in-out;

      &:hover {
        background-color: #1c52be;
      }

      &:hover {
        outline: none;
      }
    }
  }
}

@media screen and (max-width:768px) {
  .about {
    .about-left1 {
      .about-img {
        width: 100% !important;
      }
    }
  }
}

@media screen and (max-width:576px) {
  .about {
    .about-img {
      width: 100% !important;
    }
  }
}